html, body {
  width: 125px;
}

.checkbox{
  width: 10px;
}

.hidden {
  display: none;
}

input.button {
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  width: 60px;
}

input.text{
  width: 75px;
}

